main{
    display:flex;
    justify-content:center;
    align-items:center;
    height:677px;
    position: relative;
    /* height:88vh; */
    /* background-image: url('../images/pexels-cottonbro-5854040.jpg');
    background-position: center;
    background-size: cover; */
    /* background-color: black; */
    /* background-color: rgba(227, 228, 227, 0.644); */
}

video{
    position: absolute;
}

.main-middle{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.main-score{
    font-weight: 600;
    display: flex;
    justify-content:center;
    align-items:center;
    margin-left: 35px;
    margin-bottom: 20px;
}

#level{
    display: flex;
    /* flex-direction: row-reverse; */
    align-items:flex-end;
    justify-content:center;
}

#level :nth-child(1){
    margin-left: 0px;
    font-size: 16px;
    margin-right: 0px;
    color: white;
    background-color: black;
    margin-bottom: 0px;
    padding: 4px 2px 4px 2px;
}

#level :nth-child(2){
    margin-left: 0px;
    font-size: 40px;
    margin-right: 5px;
    padding: 0px 5px;
    margin-bottom: 0px;
    border: 2.5px solid black;
}

.main-score div{
    margin-right: 40px;
}

.main-third{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top:20px;
}

.cursor:hover{
    cursor: pointer;
}

.disNone{
    display: none;
}

.main-third div{
    z-index: 100;
    font-size: 20px;
    width:100px;
    border-width: 3px;
    border-style: solid;
    text-align: center;
    padding: 6px 20px;
    border-radius: 10px;
    font-weight: 600;
    color:black;
    background-color:white;
    border-color: black;
    transition: 0.25s;
}
.main-third div:hover{
   
    color:rgba(255, 255, 255);
    border-color:  rgb(255, 255, 255);
    background-color: rgba(0, 0, 0);

}

.main-fourth{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-top:30px;
    
}

.main-fourth div{
    margin-right: 20px;
    font-size: 18px;
    width:80px;
    
    display: flex;
    align-items:center;
    justify-content:center;
    border: 1px solid black;
    text-align: center;
    padding: 5px 10px;
    border-radius: 8px;
    font-weight: 500;
    background-color: rgb(183, 250, 241)
}